<div class="container-fluid container-application">
      <!-- Sidenav -->
      <%= render 'layouts/side_nav' %>
      <!-- Misc area -->
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <%= render 'layouts/main_nav' %>
      <!-- Page content -->
      <%= render 'inbox' %>
      <!-- Footer -->
      <%= render 'layouts/footer' %>
    </div>