<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header actions-toolbar">
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h6 class="d-inline-block mb-0"><i class="fas fa-map-marker-alt"></i> Edit context</h6>
          </div>
        </div>
      </div>
    <%= render 'contexts/context_form' %>
    </div>
  </div>
</div>