
<footer class="footer font-small">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <p class="nav-link text-sm mb-0">&copy; 2019 <a href="https://andrewhwaller.com" class="h6 text-sm" target="_blank">Andrew H. Waller</a>. All rights reserved.</p>
    </li>
    <li class="nav-item">
      <p class="nav-link text-sm mb-0">Target icon made by <a href="https://www.flaticon.com/authors/freepik" class="h6 text-sm" target="_blank">Freepik</a> from <a href="https://www.flaticon.com" class="h6 text-sm" target="_blank">www.flaticon.com</a></p>
    </li>
  </ul>
</footer>
