<nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
  <div class="container-fluid">
      <!-- Brand + Toggler (for mobile devices) -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- User's navbar -->
      <div class="navbar-user d-lg-none ml-auto">
        <ul class="navbar-nav flex-row align-items-center">
          <li class="nav-item">
            <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main">
              <i class="fas fa-bars"></i>
            </a>
          </li>
          <!-- Notifications dropdown was here -->
          <li class="nav-item dropdown dropdown-animate">
            <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
              <h6 class="dropdown-header px-0">Hi, <%= @active_user.first_name %>!</h6>
              <a href="/app/application/user/profile.html" class="dropdown-item">
                <i class="fas fa-user"></i>
                <span>My profile</span>
              </a>
              <div class="dropdown-divider"></div>
                <a href="/app/application/authentication/login.html" class="dropdown-item">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Logout</span>
                </a>                
              </div>
            </li>
          </ul>
        </div>
        <!-- Navbar nav -->
        <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
          <ul class="navbar-nav align-items-lg-center">
            <li class="border-top opacity-2 my-2"></li>
            <a href="/" class="navbar-brand">
              <%= image_tag("target_flat.svg", :class => "navbar-brand-img",:alt => "target logo") %> <span class="text-white">focushift</span>
            </a>              
            <!-- Application menu -->
            <li class="nav-item" data-toggle="hover">
              <a href="/" class="nav-link">
                <span><i class="fas fa-home"></i>Home</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="hover">            
              <a href="/tasks" class="nav-link">
                <span><i class="fas fa-inbox"></i>Inbox</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="hover">
              <a href="/contexts" class="nav-link">
                <span><i class="fas fa-map-marker-alt"></i>Contexts</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="hover">
              <a href="/projects" class="nav-link">
                <span class="btn-inner--icon d-block"><i class="fas fa-tasks"></i>Projects</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="hover">
              <a href="/partnerships" class="nav-link">
                <span class="btn-inner--icon d-block"><i class="fas fa-hands-helping"></i>Partnerships</span>
              </a>
            </li>
          </ul>
              <div class="dropdown-menu dropdown-menu-arrow p-lg-0">
                <!-- Top dropdown menu -->
                <div class="p-lg-4">
                  <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                    <a href="#" class="dropdown-item dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Project
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">View projects</a>
                      <a class="dropdown-item" href="#">Create new project</a>
                    </div>
                  </div>
                  <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                    <a href="#" class="dropdown-item dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Task
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">View tasks</a>
                      <a class="dropdown-item" href="#">Create new</a>
                    </div>
                </div>
                <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                  <a href="#" class="dropdown-item dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Login</a>
                    <a class="dropdown-item" href="#">Register</a>
                    <a class="dropdown-item" href="#">Recover</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="border-top opacity-2 my-2"></li>      
        </ul>
            <!-- Right menu -->
      <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
        <li class="nav-item">
          <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li class="nav-item dropdown dropdown-animate">
          <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media media-pill align-items-center">
              <div class="ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold"><%= @user_full_name %></span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
            <h6 class="dropdown-header px-0">Hi, <%= @active_user.first_name %>!</h6>
            <a href="#!" class="dropdown-item">
            <i class="fas fa-user"></i>
            <span>My profile</span>
          </a>
          <a href="#!" class="dropdown-item">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
          </a>
          <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>