<div class="sidenav" id="sidenav-main">
  <div class="sidenav-header d-flex flex-column align-items-top justify-content-between text-center">
    <a href="/" class="navbar-brand">
      <%= image_tag("target_flat.svg", :class => "navbar-brand-img",:alt => "target logo") %> <span class="text-white">focushift</span>
    </a>
    <div class="ml-auto">
      <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
    <div>
      <div class="mt-4">
        <h5 class="mb-0 text-white"><%= @user_full_name %></h5>
      </div>
    </div>
  </div>
  <span class="empty-container" data-placeholder="Empty"></span>
</div>